@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    }